.btnWhatsapp {
  display: flex;
  position: fixed;
  bottom: 0;
  justify-content: center;
  

  .paneluser {
    display: flex;
    background-color: rgba(255, 255, 255, 0.901);
    padding-top: 5px;
    width: 100vw;
    justify-content: center;
  } 
}
